<!DOCTYPE html>
<html ng-app="teemos-casino">
<head>
  <title>TeemosCasino</title>
  <link rel="shortcut icon" href="favicon.png">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= render "shared/tracking" %>
  <%= javascript_include_tag "http://js.pusher.com/2.1/pusher.min.js" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
